/home/dimitris/Documents/Uni/diss/modelling/data/cool_temp_maize-soybean
/home/dimitris/Documents/Uni/diss/modelling/data/warm_tem_maize_soybean_irrigated
/home/dimitris/Documents/Uni/diss/modelling/data/warm_temp_maize-soybean_dryland
